<h1 style="
  background-color: #7B44F2;
  padding: 20px;
  margin: 0;
  color: #fff;
  width: 93%;
  text-align: center;
  ">
  Olá, {{deliveryman}}</h1>

<br />

<p style="text-align: center;">Tem um novo produto disponível para entrega</p>

<div style="
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
">
  <p style="margin: 0 10px;color:#999">Produto</p>
  <strong style="font-size: 18px;">{{product}}</strong>

  <br />

  <p style="margin: 0 10px;color:#999">Destinatário</p>
  <strong style="font-size: 18px;">{{recipient}}</strong>

  <br />

  <p style="margin: 0 10px;color:#999">Endereço</p>
  <p style="margin: 0;font-size: 14px">{{address}}</p>
  <p style="margin: 0;font-size: 14px">{{local}}</p>
</div>
